
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VC Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="primary">
    
    <img src="./assets/cloudy.jpg">
    <ion-card-header>
      
      <ion-card-title>
        <div class="titleCardTitle">
          <div>
            60°F
          </div>
          <div class="test">
            Valley City
          </div>
        </div>
      </ion-card-title>
      <ion-card-subtitle>Cloudy</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      A chance of snow. Mostly cloudy, with a high near 22. Northwest wind 14 to 18 mph, with gusts as high as 24 mph. Chance of precipitation is 30%.
    </ion-card-content>
  </ion-card>


  <app-precipitation-list></app-precipitation-list>
  <ion-list [inset]="true">
    
    <ion-item color="primary">
      <ion-label>High</ion-label>
      <ion-label slot="end">60°F</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Low</ion-label>
      <ion-label slot="end">60°F</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>24hr Precipitation</ion-label>
      <ion-label slot="end">0.025″</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>7d Precipitation</ion-label>
      <ion-label slot="end">0.025″</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Relative humidity</ion-label>
      <ion-label slot="end">60%</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Apparent temperature</ion-label>
      <ion-label slot="end">60°F</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Dew point</ion-label>
      <ion-label slot="end">60°F</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Wind chill</ion-label>
      <ion-label slot="end">60°F</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Wind direction</ion-label>
      <ion-label slot="end">N</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Wind speed</ion-label>
      <ion-label slot="end">6 mph</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Ice accumulation</ion-label>
      <ion-label slot="end">6 mm</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
