<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">VC Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="primary" class="ion-no-margin">  
    <ion-card-content>
    <div class="currentIcon"><img src="./assets/test.png"></div>
    <div class="currentCondition">{{currentForecast?.shortForecast}}</div>
    <div class="currentTemperature">{{currentForecast?.temperature}}°</div>
      <div class="currentChancePrecip"><ion-icon
        style="vertical-align: text-top;"
        name="umbrella-outline"></ion-icon> 30%</div>
    </ion-card-content>
  </ion-card>

  <app-blizzard></app-blizzard>
  <app-precipitation-list></app-precipitation-list>
   
  
  <!--<div class="cardTitleOutside">Daily Summary</div><div class="cardSubtitleOutside"> by Weather.gov</div>

   <ion-card class="ion-no-margin" color="primary">
<ion-card-content>
 
  A chance of snow. Mostly cloudy, with a high near 22. Northwest wind 14 to 18 mph, with gusts as high as 24 mph. Chance of precipitation is 30%.
</ion-card-content>
  </ion-card>
-->

</ion-content>
