.welcomeTitle{
	text-align: center;
	font-size: 35pt;
	margin:20px;
	margin-top:50px;
}
.welcomeIcon{
 width: 125px;
 margin:10px;
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
}


.scrolling-wrapper-flexbox {
	display: flex;
	flex-wrap: nowrap;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-x: scroll; 
  
	.card {
	  flex: 0 0 auto;
	  padding-left: 5pt;
	  padding-right: 5pt;
	}
  }
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



  .currentIcon {

	transition: all 0.3s;
	margin:auto;
	width:200px;
	height:200px;

	}
	
	.currentIcon:hover {
	transform: scale(0.95);
	}


	.currentCondition{
		text-align: center;
		font-size: 25px;
		text-shadow: 1px 0 40px black;

	}

	.currentTemperature{
		text-align: center;
		font-size: 85px;
		text-shadow: 1px 0 40px black;
	}

	.currentChancePrecip{
		text-align: center;
		font-size: 25px;
		text-shadow: 1px 0 40px black;
		margin-bottom:10px;
	}

@media(prefers-color-scheme: light){
	.testcontent{
		--background: white;
	}
}
@media(prefers-color-scheme: dark){
	.testcontent{
		--background: black;
	}
}

.termsTitle{
	margin:20px;
	font-size:17pt;
}
.termsContent{
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right:20px;
	font-size:12pt;
}