
ion-content {
	// overwrite inline styles
	--offset-bottom: auto!important;
	--overflow: hidden;
	overflow: auto;
	&::-webkit-scrollbar {
	  display: none;
	}
  }

.welcomeTitle{
	text-align: center;
	font-size: 35pt;
	margin:20px;
	margin-top:50px;
}
.welcomeIcon{
 width: 125px;
 margin:10px;
 border-top-left-radius: 25px;
 border-top-right-radius: 25px;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
}

ion-chip {
	--color: white;
  }




 .weathericon{
	display:block;
	margin-left: auto;
	margin-right: auto;
	
 }
	.currentCondition{
		text-align: center;
		font-size: 25px;
		text-shadow: 1px 0 40px black;

	}

	.currentTemperature{
		text-align: center;
		font-size: 85px;
		text-shadow: 1px 0 40px black;
	}

	


@media(prefers-color-scheme: light){
	.testcontent{
		--background: white;
	}
}
@media(prefers-color-scheme: dark){
	.testcontent{
		--background: black;
	}
}

.termsTitle{
	margin:20px;
	font-size:17pt;
}
.termsContent{
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right:20px;
	font-size:12pt;
}




.windIcon{
	width:20px;
	height:20px;
	margin-right:10px;
}

.skeletonShortForecast{
	width:60%;
	margin: auto;
	height:25px;
}

.skeletonTemperature{
	width:35%;
	margin: auto;
	height:50px;
	margin-top:20px;
	margin-bottom: 20px;
}