<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">VC Weather</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div *ngIf="simpleWeatherLoaded">
  <ion-card color="primary" class="ion-no-margin">  
    <ion-card-content>
    <img src='{{iconUrl}}' class="weathericon">
    <div class="currentCondition">{{currentForecast?.shortForecast}}</div>
    <div class="currentTemperature">{{currentForecast?.temperature}}°</div>
    
    <div style="text-align:center;">
    <ion-chip id="precipitation-trigger">
      <ion-icon name="umbrella" style="color:white"></ion-icon>
      <ion-label style="font-size: x-large;">30%</ion-label>
    </ion-chip>
    <ion-popover trigger="precipitation-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">There is a 30% chance of precipitation.</ion-content>
      </ng-template>
    </ion-popover>
    <ion-chip id="wind-trigger">
      <img src="./assets/icons/windSmall.png" class="windIcon">
      <ion-label style="font-size: x-large;">{{currentForecast?.windSpeed}} {{currentForecast?.windDirection}}</ion-label>
    </ion-chip>
    <ion-popover trigger="wind-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">The wind is {{currentForecast?.windSpeed}} {{currentForecast?.windDirection}}</ion-content>
      </ng-template>
    </ion-popover>
    </div>
    </ion-card-content>
  </ion-card>
  </div>

  <div *ngIf="!simpleWeatherLoaded">
    <ion-card color="primary" class="ion-no-margin">  
      <ion-card-content>
      <div class="currentCondition"><ion-skeleton-text [animated]="true" class="skeletonShortForecast"></ion-skeleton-text></div>
      <div class="currentTemperature"><ion-skeleton-text [animated]="true" class="skeletonTemperature"></ion-skeleton-text></div>
      <ion-skeleton-text [animated]="true" class="skeletonShortForecast"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    </div>

  <app-blizzard></app-blizzard>
  <app-precipitation-list></app-precipitation-list>
   
</ion-content>


<ion-modal trigger="open-modal">
  <ng-template>
    <ion-content class="testcontent">
      <div class="welcomeTitle">
        VC Weather
        <div><img src="assets/icons/icon-1024x1024.png" class="welcomeIcon"></div>
      </div>

      <div *ngIf="showTerms">
      <div class="termsTitle">
        Please read and agree to the terms and conditions below:
      </div>
      <div class="termsContent">Terms and conditions go here please replace this text.</div>
      <ion-item lines="none">
        <ion-checkbox slot="start" value="1" [(ngModel)]="isChecked" (ionChange)="checkboxClick($event)"></ion-checkbox>
        <ion-label>I agree to the terms and conditions</ion-label>
      </ion-item>
      </div>

      <div *ngIf="showInstructions">test</div>
      <ion-fab *ngIf="canContinue" slot="fixed" vertical="bottom" horizontal="center" style="margin-bottom:10px;">
        <ion-fab-button (click)="termsContinue()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
  </ng-template>
</ion-modal>